{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>

{% csrf_token %}
<!-- homepage benner -->
<section class="homepageBanners">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-auto text-center">
                <p class="display-1 text-white">OUR ESTEEMED PARTNERS</p>
                <p class="text-white fs-4 w-75 py-3 m-auto">Our Valuable Esteemed Partners</p>
                <div class="fs-5 text-white"><a href="{% url 'index' %}" class="text-white">Home </a>
                    <span class="fa-solid fa-angles-right fs-6"></span>
                    Brands
                </div>
            </div>
        </div>
    </div>
</section>

<!-- client Details -->
<section class="clientSec">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Alembic.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Abbott.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Ajanta-pharma.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Alkem.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Aareen.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/Biocon.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static '' %}images/cipla.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Comed.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/corona.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Dr-reddy.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Elder-project-limited.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Emcure.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Eris.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Franco indian.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Galpha-laboratories.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Gladstone-Pharma.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Glenmark.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/intas.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Jarun.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/jb.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/La-renon.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Linux-Laboratories.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Lloyd-headthcare.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Lupin.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/macleodes.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Mankind.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Medley.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Microlabs.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/natco.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Primus.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Steris.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/sunpharma.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Torrent-pharma.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/ucb.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Unison.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/USV.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/Wockhardt.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/zuventus.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-auto p-3">
                <div class="brands">
                    <div class="b-list">
                        <img src="{% static 'images/zydus.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>


        </div>
</section>

<!-- footer -->

<!-- script -->
<script src="{% static 'js/script.js' %}"></script>
<!-- jquery cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- bootstrap js cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- slick slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<!-- owl-carousel js cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</html>

{% endblock %}